@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-family: 'Radio Canada';

  --header-text: #ffffea;
  --color-bar: #ffffea;

  --color-bg: #040c18;
  --color-footer: #021325;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
